﻿*{
	padding:0;
 	margin:0;
 	font-family: 'Roboto', sans-serif;
}

h4{
	font-weight: lighter;
	font-size: 150%;
}

/*
Menu de navigation 
*/

ul {
 	padding:2%;
 	margin:0;
 	list-style-type:none;
 	text-align: center;
 	background-color: white;
 }

header ul li {
 	margin-left:2px;
 	display: inline; 
 	margin-left: 3%;
 	margin-right: 3%;
 	padding: 5px;	
 }

header ul li a {
 	padding:5px;
 }

 .lien_header{
	text-decoration: none;
	color: black;
}

.lien_header:hover{
	color: #9EDCDF;
}


/*
Image de présnetation
*/


.Bloc_infos_header{
    padding-top: 5%;
    padding-left: 8%;
}

.Image_Code p{
    margin-top: 0.5%;
    margin-bottom: 1%;
    font-weight: 0;
    text-align: center;
}

.Image_Code{
	background-image:url(laptop_1.jpg);
    background-size: cover;
    min-height: 530px;
}

.Nom{
	font-size: 2em;
	color: #2E2E2E;
	width: 10em;
}

.Metier{
	font-size: 1em;
	color: #2E2E2E;
	width: 20em;
}

.ligne_decoration{
	background-color: #ABABAB;
	height: 2px;
	width: 19em;
	margin: 0% 0% 0%;
}


/*
Bloc information avec une image un titre et du texte
*/

/*
Grand bloc
*/

.block_infos{
	width: 70%;
	padding: 0px;
	display: flex;
	margin-left: 15%;
	margin-bottom: 4%;
	margin-top: 4%;
}

/*
Sous blocs
*/

.infos{
	display: inline-block;
	width: 50%;
	padding: 0;
	text-align: center;
	overflow: hidden;
	word-wrap: break-word;
}

.Photo{
	width: 80%;
}

/*
Partie information du bloc
*/

.titre_rubrique{
	text-align: left;
	margin: 4% 8% 4%;
	font-size: 150%;
}

.box_decoration{
	background-color: #76DDE7;
	height: 0.6%;
	width: 9%;
	margin: 0% 8% 0%;
}

.information_rubrique{
	text-align: left;
	margin: 5% 8% 0%;
}

/*
	Bouttons
*/

main button{
	padding : 2.5% 5%;
	min-height : 20px; 
	border-radius : 20px;
	border-width: 0px;
	background-color: #76DDE7;
}

main button:hover { 
	background-color: #4999AB;
}

.Boutton_rubrique{
	text-align: left;
	margin: 3% 8% 5%;
}

.lien_en_savoir_plus{
	text-decoration: none;
	color: white;
	font-size: 120%;
}

/*
	Partie telechargement CV
*/

.Image_CV{
  display: flex;
  justify-content: center;
  background-color: #EFEFEF;
}


.Bloc_Dl{
	background-image:url(cv_Elie.jpg);
	min-width: 32.5em;
	max-height: 45em;
}

.Dl_Cv{
	margin-top: 125%;
	margin-left: 65%;
	margin-bottom: 4%;
	background-color: #4999AB;
	box-shadow: 1px 1px 10px black;
}




/*
	Partie contact en bas de page
*/

.footer{
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

footer{
	color: white;
}


/*
	Partie information contact
*/

footer li,footer ul,footer div {
	text-align: left;
	background-color: #1F2076;
}

footer li{
	text-align: left;
	margin: 1% 8% 1%;
}

.Contact{
	display: inline-block;
	width: 49.8%;
	padding: 0;
	text-align: center;
	overflow: hidden;

}

.Contact_title{
	text-align: left;
	margin: 5% 10% 4%;
}

.decoration_footer{
	background-color: white;
	height: 0.6%;
	width: 9%;
	margin: 0% 10% 0%;
}

/*
	Partie formulaire
*/

.formulaire{
	display: inline-block;
	justify-content: center;
	width: 49.8%;
	height: 20%;
	margin-top: 2%;
}

input,textarea {
	border: solid;
	border-width: 3px;
	border-color: white;
	background-color: #1F2076;
	margin: 1% 0% 1%;
	border-radius : 5px;
	width: 35em;
	padding: 1% 1% 1%;
	color: white;
}

/*
Boutton de bas de page
*/

footer button{
	width: 20%;
	height: 10%;
	padding : 1% 1%;
	border-radius : 10px;
	border-width: 0px;
	background-color: white;
	color: #1F2076;
	margin : 0.5% 0% 5%;
}


::placeholder {
  color: white;
  opacity: 0.9;
}





/*
Responsive pour telephone :

*/

@media  (min-width: 320px) and (max-width:1000px){

/* 
	Partie Header :;
*/

header ul li {
 	display: block; 
 	font-size: 3em;
 	text-align: left;
 	margin-top: 1%;
 }

/*
	Part main image :
*/


.Bloc_infos_header{
    padding-top: 8%;
    padding-left: 0%;
}

.Image_Code p{
    margin-top: 0.5%;
    margin-bottom: 1%;
    font-weight: 0;
    text-align: center;
}.

.Image_Code{
    height: 90em;
    background-image:url(laptop_1_tel.jpg);
}

.Metier{
	font-size: 3.5em;
	margin-left: 1%;
	width: 99%;
	color: #C8C8C8;
}

.Nom{
	font-size: 5.5em;
	margin-left: 6%;
	color: #C8C8C8;
}

.ligne_decoration{
	background-color: white;
	margin-left: 10%;
	width: 80%;
}
/*
Bloc informations partie principale
*/

.infos{
	width: 100%;
}

.titre_rubrique{
	text-align: center;
	font-size: 4em;
}

#A_propos, #Experiences{
	width: 100%;
	margin-left: 0%;
	flex-direction: column;
	align-items: center;
}

#Competences{
	width: 100%;
	margin-left: 0%;
	flex-direction: column-reverse;
	align-items: center;
}


/*
Modification boutton
*/

main button{
	padding : 2.5% 5%;
	min-height : 20px; 
	width: 50%;
	border-radius : 50px;
	border-width: 0px;
	font-size: 250%;
}

.Boutton_rubrique{
	text-align: center;
	margin: 8% 8% 5%;
}


/*
Modification CV
*/

.Dl_Cv{
	width: 10em;
	font-size: 3em;
	margin: 12.5em 0em 5em 0.5em;
}

/*
Modification Footer
*/


.footer{
	width: 100%;
	flex-direction: column;
	padding-top: 0%;
	padding-bottom: 0%;

}

footer{
	font-size: 3em;
	text-align: center;
}

/*
Modification informations contact
*/

.Contact, .formulaire{
 width: 100%;
}

.Contact{
	font-size: 0.80em;
	margin : 8% 0% 12%;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

/*
Modification formulaire
*/


input,textarea {
	border-width: 10px;
	border-color: white;
	background-color: #1F2076;
	margin: 3% 5% 3%;
	border-radius : 20px;
	width: 85%;
	padding: 1% 1% 1% 1%;
	color: white;
	font-size: 1.1em;
}

footer button{	
	align-items: center;
	width: 30%;
	height: 10%;
	padding : 1% 1%;
	border-radius : 30px;
	border-width: 0px;
	background-color: white;
	color: #1F2076;
	margin : 5% 33% 5%;
	font-size: 1.1em;
}


}

